<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated minitl -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="minitl.presentation.MinitlModelWizardID"
            name="%_UI_MinitlModelWizard_label"
            class="minitl.presentation.MinitlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MinitlModelFile.gif">
         <description>%_UI_MinitlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated minitl -->
      <editor
            id="minitl.presentation.MinitlEditorID"
            name="%_UI_MinitlEditor_label"
            icon="icons/full/obj16/MinitlModelFile.gif"
            extensions="minitl"
            class="minitl.presentation.MinitlEditor"
            contributorClass="minitl.presentation.MinitlActionBarContributor">
      </editor>
   </extension>

</plugin>
