<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated minitlTrace -->
    <package uri="minitlTrace" class="minitlTrace.MinitlTracePackage" genModel="model/minitlTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated minitlTrace -->
    <package uri="minitlTrace_Steps" class="minitlTrace.Steps.StepsPackage" genModel="model/minitlTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated minitlTrace -->
    <package uri="minitlTrace_States" class="minitlTrace.States.StatesPackage" genModel="model/minitlTrace.genmodel" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated minitlTrace -->
    <package uri="minitlTrace_minitl" class="minitlTrace.States.minitl.MinitlPackage" genModel="model/minitlTrace.genmodel" />
  </extension>
  <extension point="org.gemoc.gemoc_language_workbench.engine_addon">
    <Addon Class="org.tetrabox.example.minitl.trace.tracemanager.MinitlTraceEngineAddon" Default="false" id="org.tetrabox.example.minitl.trace" Name="minitl MultiDimensional Trace" ShortDescription="MultiDimensional Trace support dedicated to minitl language" openViewIds="org.eclipse.gemoc.addon.multidimensional.timeline.views.timeline.MultidimensionalTimeLineView" AddonGroupId="Sequential.AddonGroup" />
  </extension>
</plugin>
